.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
 }
 
 .app__header {
  min-height: 70px;
  width: 100%;
  background-color: darkslategray;
  display: flex;
  align-items: center;
  padding-left: 10px;
 }
 
 .app__content {
  flex: 1;
  text-align: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
 }

 .nav_link {
   font-size: 20px;
   padding-left: 10px;
   color: white;
   text-decoration: none;
   min-width: 100px;
 }

 .nav_link:visited {
  color: white;
  text-decoration: none;
 }

 .nav_link.active {
   font-weight: bold;
 }
 